<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <script src="vue.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--  Axios  -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>LMS</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1" style="font-family: 'Lobster', cursive;">Smart School</span>
        <span class="navbar-text">        
            <a class="navbar-link" href="/students"><i class="material-icons" style="font-size: 30px">face</i></a>
            &nbsp;
            <a class="navbar-link" href="/teachers"><i class="material-icons" style="font-size: 30px">supervisor_account</i></a>
            &nbsp;
            <a class="navbar-link" href="/subjects"><i class="material-icons" style="font-size: 30px">library_books</i></a>
</span>
    </nav>
<br>
<br>

<div id="app" class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">/Subjects</li>
          
        </ol>
      </nav>
<div class="row">
<div class="col-md-3">
    
    <div class="input-group">
        <input v-model="subjectId" type="text" class="form-control" id="subjectId" placeholder="Subject ID"><span>
        
        <div class="input-group-append">
        
            <button @click="searchById" type="submit"  data-toggle="modal" data-target="#exampleModal2" class="btn btn-outline-secondary">Search</button>
       
        </div>
      </div>

       
</div>
<div class="col-md-4">

</div>
<div class="col-md-4">
  
  </div>
  
<div class="col-md-1">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        <i class="material-icons">
            note_add
            </i>
      </button>
    </div>
</div>
<div >
  <hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <div v-for="subject in subjects"> 
                 
                   <li class="list-group-item list-group-item-action">
                    {{subject.id}}.
                    &nbsp 
                    {{subject.name}}</li>
                  
              </div>
            </ul>
            

    </div>
  </div>  
  </div>
</div>
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Subject</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="subjectName">Name</label>
                  <input v-model="name" type="email" class="form-control" id="subjectName" aria-describedby="nameHelp" placeholder="Enter name">
                  <small id="nameHelp" class="form-text text-muted">Add new subject</small>
                </div>
              </form>
        </div>
        
        <span class="badge badge-light">{{message}}</span>
          

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
          <div>
              <button type="button" class="btn btn-primary" @click="addSubject">Add</button>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Subject</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="form-group">
                    <label for="subjectName">ID: &nbsp;</label>{{mySubject.id}}
                    <br>
                    <label for="subjectName">Name:  &nbsp;</label>{{mySubject.name}}
                   
                  </div>
                </form>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> 

</div>

<script>
  let app=new Vue({
    el:'#app',
    data: {
      subjects:[],
      name: '',
      message: '',
      subjectId: '',
      mySubject: ''
    },
    created: function(){
      this.getSubjects()
    },
    methods:{
      getSubjects: function(){
        let app=this;
        axios.get('https://web-eval1-agam.herokuapp.com/api/subjects').then((response)=>app.subjects=response.data)
      },
      searchById: function(){
        let app=this;
        axios.get('https://web-eval1-agam.herokuapp.com/api/subjects/'+app.subjectId).then((response)=>{
          if(response.data)
          app.mySubject=response.data;
          else
          app.mySubject={id:'Not Found',name:'Not Found'}
        })
      },
      addSubject: function(){
        console.log("HEllo");
        axios.post('https://web-eval1-agam.herokuapp.com/api/subjects',{
          name: this.name
        }).then(()=>{
          app.message="Subject Added";
          this.getSubjects();
          app.name='';
        }
        ).catch((err)=>console.log("Cannot Add subjects"))
      }
    }
  })
</script>
   </body>
</html>

